<div id="<%= dom_id menu %>">
  <p>
    <strong>Titulo:</strong>
    <%= menu.Titulo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= menu.Descricao %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= menu.Preco %>
  </p>

</div>
