<% content_for :title, "Editar item" %>

<h1>Editar Item</h1>

<%= render "form", menu: @menu %>

<br>

<div>
  <%= link_to "Mostrar itens", @menu, class: "btn btn-primary" %>
  <%= link_to "Voltar ao Menu", menus_path, class: "btn btn-secondary" %>
</div>
