<p style="color: green"><%= notice %></p>

<% content_for :title, "Menus" %>

<h1>Menu</h1>
<div id="menus">
  <% @menus.each do |menu| %>
    <%= render menu %>
    <%= link_to "Mostar item", menu, class:"btn btn-info" %>
  <% end %>
</div>

