<footer class="py-5 text-center text-body-secondary bg-body-tertiary fixed-bottom bg-dark" data-bs-theme="dark";>
  <p>Hamburgueria criado em Ruby on Rails by Devs: Fabricio & Kayke</a>.</p>
  <p class="mb-0">
    <a href="#">Voltar ao Topo</a>
  </p>
</footer>